html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Proxima Nova', Georgia, sans-serif;
    margin: 0 0 210px;
}

a:hover {
	text-decoration: none;
}

.container__page {
	width: 100vw;
}

.container {
	margin: 0 auto;
	text-align: center;
}

.container--grey {
	background: #eeeeef;
}

.container--blue {
	background: #53A1E3;
	color: white;
}

.spacer {
	flex: 1;
}
