.about__intro {

}

.about__title {
	font-size: 50px;
	
}

.pencil {
	max-width: 100%;
}

.about__title--font {
	font-family: 'Satisfy', cursive;
}

.about__title--underline {
	text-decoration: underline solid $red;
}

.about__title--font {

}

.about__paragraph {
	font-size: 16px;
}

.about__list {
	list-style: none;
	padding: 0px;
}

.about__list > li {
	margin-bottom: 10px;
}

.value {
	padding: 40px;
	background-image: url('./../images/postit.svg');
	background-size: contain;
	font-family: 'The Girl Next Door', cursive;
}

.philosophy {
	padding: 20px;
}
