.about__title {
	font-size: 50px;
	font-family: 'Satisfy', cursive;
}

.about__paragraph {
	font-size: 16px;
}

.about__list {
	list-style: none;
	padding: 0px;
}

.about__list > li {
	margin-bottom: 10px;
}

.value {
	padding: 40px;
}

.philosophy {
	padding: 20px;
	border: 10px solid lighten(#ef4658, 5);
}

.mission {
	border: 10px solid #53a2e3;
}

.vision {
	border: 10px solid #69de92;
}