.class {
	text-align: left;
}

.class__about {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
}

.class__description {
	margin-bottom: 40px;
	font-size: 20px;
}

.class_image-container {
}

.class_image {
	max-width: 100%;
}

.test__logo {
	width: 200px;
	margin-top: 50px;
}

.test__links {
	font-weight: bold;
	font-size: 35px;
	margin-top: 75px;
}

.test__link {
	font-size: 20px;
	margin: 20px 0;
}