.form-group {
	margin: 0;
}

.form-control {
	margin: 0px;
	border: 1px solid black;
	border-radius: 0px;
	color: black;
	appearance: none;
}

.form-control:focus {
	border-color: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#formControlsTextarea {
	margin-top: 20px
}

#formControlsSelect:hover {
	cursor: pointer;
}

.contact-container {
	text-align: center;
}

.contact__intro {	
	padding-bottom: 20px;
}

.contact__header {
	font-size: $header-size;
	margin-bottom: 0;
}

.contact__subheader {
	font-size: 16px;
}

#contact__button {
	color: white;
	border: none;
	font-size: 18px;
	background-color: #FF4D4C;
	width: 200px;
	height: 50px;
	border-radius: 3px;
	margin: 20px;
	transition-duration: .2s;
	background-image: none;
	text-shadow: none;
	position: relative;
	overflow: hidden;
}

#contact__button:before {
	content: url(./../images/mailcopy.svg);
	position: absolute;
	left: -40px;
	top: 14px;
	transition: all 200ms ease;
}

#contact__button:hover:before {
	left: 25px;
}

#contact__button:focus:before {
	left: 200px;
}
