.footer {
	padding-bottom: 5px;
	background-color: lightgrey;
}

.footer__list {
	list-style-type: none;
	padding-top: 10px;
	padding-left: 0px;
}

.footer-bar {
	float: none;
	text-align: center;
	margin-top: 20px;
	position: static;
}

.footer__list-item {
	font-size: 14px;
}

.footer__list-item > a {
	color: black;
	transition-duration: 0.2s;
}

.footer__list-item > a:hover {
	color: lighten(black, 50);
}

.footer__list-title {
	font-weight: bold;
	font-size: 18px;
}
