.footer {
	padding-bottom: 5px;
	background-color: lightgrey;
}

.footer__list {
	list-style-type: none;
	padding-top: 10px;
}

.footer-bar {
	float: none;
	text-align: center;
	margin-top: 20px;
}

.footer__list-item {
	font-size: 14px;
}

.footer__list-title {
	font-weight: bold;
	font-size: 18px;
}