.job {
	margin-bottom: 20px;
	text-align: left;
}

.job__link {
	border: none;
	text-align: left;
	background-image: none;
	text-shadow: none;
	box-shadow: none;
	transition-duration: .2s;
}

.job__link:hover {
	color: #3683d2;
}

.job__title {
	text-align: left;
	margin: 0px;
}

.job__location {
	text-align: left;
	margin: 0px;
}