.rc-tabs-nav-wrap {
	text-align: center;
}

.rc-tabs-top {
	margin-bottom: 100px;
	border-bottom: none;
}

.rc-tabs-top .rc-tabs-tab {
	font-size: 18px;
}

.team__intro {
	margin-bottom: 60px;
}

.team__header {
	font-size: $header-size;
	margin-bottom: 20px;
}

.team__subheader {
	font-size: $subheader-size;
}



