.rc-tabs-nav-wrap {
	text-align: center;
}

.rc-tabs-top {
	margin-bottom: 100px;
	border-bottom: none;
}

.rc-tabs-top .rc-tabs-tab {
	font-size: 18px;
}

.team__intro {
	margin-bottom: 60px;
}

.team__header {
	font-size: $header-size;
	margin-bottom: 20px;
}

.team__teacher-img {
	margin-bottom: 15px;
	width: 275px;
}

.team__teacher-img {
	position: relative;
	height: 229px;
	width: 275px;
}

.team__teacher-description-layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(36, 62, 206, 0.6);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	/* transition effect. not necessary */
	transition: opacity .2s, visibility .2s;
}

.team__teacher-img:hover .team__teacher-description-layer {
	visibility: visible;
	opacity: 1;
}

.team__teacher-description {
	transition: .2s;
	transform: translateY(1em);
}

.team__teacher-img:hover .img__teacher-description {
	transform: translateY(0);
}

