.landing {
	text-align: center;
	border-bottom: 1px solid lightgrey;
	opacity: 0;
	transition-duration: 1s;
	color: white;
	font-family: 'The Girl Next Door', cursive;
}

.fade-in {
	opacity: 1;
}

.landing--big .landing__title {
	font-size: 50px;
	margin: 0;
	position: relative;
	top: 30px;
	margin-bottom: 50px;
}

.landing--big .landing__subtitle {
	font-size: 25px;
	position: relative;
	bottom: 150px;
	color: #00ACED;
}

.title__container {
	height: 0;
}

.title__chalkboard {
	max-width: 100%;
	height: auto;
}

.landing__button {
	position: relative;
	bottom: 140px;
	border: none;
	width: 200px;
	height: 50px;
	border-radius: 3px;
	margin-bottom: 50px;
	font-size: 24px;
	background: transparent;
	color: white;
	transition-duration: .2s;
}

.landing__button:hover {
	text-decoration: underline;
}

@media (min-width: 540px) {
	.landing--big .landing__title {
		font-size: 70px;
		top: 50px;
	}

	.landing--big .landing__subtitle {
		font-size: 32px;
		bottom: 190px;
	}
}

@media (min-width: 768px) {
	.landing--big .landing__title {
		font-size: 80px;
	}

	.landing--big .landing__subtitle {
		font-size: 36px;
		bottom: 250px;
	}

	.landing__button {
		font-size: 26px;
		bottom: 210px;
	}
}

@media (min-width: 992px) {
	.landing--big .landing__title {
		font-size: 100px;
		top: 70px;
	}

	.landing--big .landing__subtitle {
		font-size: 40px;
	}

	.landing__button {
		font-size: 28px;
		bottom: 200px;
	}
}

