html {
  min-height: 100%; }

body {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

a:hover {
  text-decoration: none; }

.container__page {
  width: 100vw; }

.container {
  margin: 0 auto;
  text-align: center; }

.container--grey {
  background: #eeeeef; }

.container--blue {
  background: #53A1E3;
  color: white; }

.spacer {
  flex: 1; }

.social-media-bar {
  float: right;
  position: relative;
  bottom: 5px;
  right: 10px; }

.social-icon {
  margin-left: 2px;
  transition-duration: 0.2s; }

.social-icon:hover {
  opacity: 0.75; }

.navbar {
  border-radius: 0 !important;
  border: none;
  min-height: 80px;
  background-color: white;
  box-shadow: 0 0 1px #777777;
  margin-bottom: 0px; }

.navbar-header {
  padding-bottom: 12px; }

.navbar-inverse {
  background-image: none; }

.navbar-brand > img {
  max-width: 200px; }

.navbar-nav > li > a {
  font-size: 20px;
  margin-top: 17px;
  color: black; }

.navbar-inverse .navbar-nav > li > a {
  color: black;
  text-shadow: none; }

.navbar-nav > li > a > a {
  color: black;
  transition-duration: 0.2s; }

.navbar-nav > li > a > a:hover,
.navbar-nav > li > a > a:focus {
  text-decoration: none;
  color: #FF4D4C; }

.navbar-toggle {
  margin-top: 25px;
  background-color: black; }

.icon-bar {
  background-color: black; }

.language-menu {
  text-align: center; }

.language-menu__list {
  list-style: none;
  margin-top: 5px;
  padding: 0; }

.language-menu__item {
  float: left;
  font-size: 14px;
  padding-right: 18px;
  color: grey;
  transition-duration: 0.2s; }

.language-menu__item:hover {
  color: black;
  cursor: pointer; }

.language-menu__item > button {
  border: none; }

.blurb {
  margin-top: 20px;
  font-size: 22px; }

.blurb__title {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px; }

.blurb__svg {
  width: 75px; }

.services__link:hover {
  text-decoration: underline; }

.blurb--spacing {
  margin-bottom: 40px; }

.services__link {
  transition-duration: 0.5s; }

.link__button {
  color: white;
  border: none;
  font-size: 18px;
  background-color: #FF4D4C;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  transition-duration: .2s;
  background-image: none;
  text-shadow: none; }

.link__button:hover {
  background: transparent;
  color: #FF4D4C;
  box-shadow: inset 0 0 0 3px #FF4D4C; }

.landing__button--spacing {
  margin: 180px 0; }

.blurb__media {
  margin: 0; }

#prepsmith-video {
  width: 100%;
  box-shadow: 0 0 3px #777777; }

.row--spacing {
  padding: 50px 0; }

.carousel {
  box-shadow: 0 0 3px #777777; }

.carousel__team {
  width: 300px;
  margin: 0 auto; }

.carousel__teacher {
  width: 300px; }

.carousel-caption__textbox {
  position: relative;
  top: 40px; }

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  opacity: 0; }

.carousel-control.left:hover,
.carousel-control.right:hover {
  opacity: 1; }

.show-grid {
  text-align: center; }

@media (min-width: 992px) {
  .show-grid {
    text-align: center;
    display: flex;
    align-items: center; }
  .row--spacing {
    padding: 75px 0; }
  .row--top {
    display: block; }
  .carousel__team {
    width: 450px;
    margin: 0 auto; }
  .carousel__teacher {
    width: 450px; } }

.footer {
  padding-bottom: 5px;
  background-color: lightgrey; }

.footer__list {
  list-style-type: none;
  padding-top: 10px;
  padding-left: 0px; }

.footer-bar {
  float: none;
  text-align: center;
  margin-top: 20px;
  position: static; }

.footer__list-item {
  font-size: 14px; }

.footer__list-item > a {
  color: black;
  transition-duration: 0.2s; }

.footer__list-item > a:hover {
  color: gray; }

.footer__list-title {
  font-weight: bold;
  font-size: 18px; }

.contact__container {
  text-align: center; }

.contact__header {
  font-size: 60px;
  margin-bottom: 0; }

.rc-tabs-nav-wrap {
  text-align: center; }

.rc-tabs-top {
  margin-bottom: 100px;
  border-bottom: none; }

.rc-tabs-top .rc-tabs-tab {
  font-size: 18px; }

.team__img {
  background-image: url("./../images/team.jpg");
  background-position: 60% 40%;
  height: 350px;
  background-size: cover; }

.team__img::after {
  content: "";
  background: rgba(45, 88, 35, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.team__intro {
  margin-bottom: 60px; }

.team__title {
  padding: 50px;
  background-image: url("./../images/fullteam.png");
  background-size: cover; }

.team__header {
  position: relative;
  right: 30%;
  color: white;
  font-size: 60px; }

.team__subheader {
  font-size: 18px; }

.scholartree__img {
  margin: 40px 0;
  width: 300px; }

.scholartree__body {
  text-align: left;
  margin-bottom: 50px; }

.scholartree__url {
  font-size: 18px;
  font-weight: bold; }

.consulting__body {
  text-align: left;
  margin-bottom: 50px; }

.consulting__logo {
  width: 175px; }

.consulting__url {
  font-size: 18px;
  font-weight: bold; }

.intro {
  background: url("./../images/title.svg") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 37.58%;
  position: relative; }

.intro__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.intro__title {
  color: white;
  font-family: 'The Girl Next Door', cursive;
  position: relative;
  top: 34%;
  font-size: 50px;
  margin: 0; }

.test-container {
  color: white;
  transition-duration: 0.2s;
  margin: 20px 0; }

.test-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #777777; }

.test__title {
  padding: 30px;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-bottom: 0px; }

.test__title:hover {
  text-decoration: underline; }

.test__description {
  padding: 20px;
  background-color: #dfeef6;
  color: black;
  line-height: 22px;
  font-size: 16px; }

.teacher {
  text-align: center; }

.teacher__img {
  margin-bottom: 15px;
  width: 260px;
  box-shadow: 0 0 1px #777777; }

.class {
  text-align: left; }

.class__about {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px; }

.class__description {
  margin-bottom: 40px;
  font-size: 20px; }

.class_image {
  max-width: 100%; }

.test__logo {
  width: 200px;
  margin-top: 50px; }

.test__links {
  font-weight: bold;
  font-size: 35px;
  margin-top: 75px; }

.test__link {
  font-size: 20px;
  margin: 20px 0; }

.features {
  margin: 50px 0;
  background-color: #dfeef6;
  padding: 30px 25px; }

.feature__svg {
  width: 50px; }

.feature__description {
  font-size: 18px; }

.clock-container {
  padding: 2px;
  width: 88px;
  text-align: none;
  border-radius: 50%;
  background-color: black; }

.clock {
  border-radius: 50%;
  background: #fff url(./../images/ios_clock.svg) no-repeat center;
  background-size: 88%;
  height: 6em;
  padding-bottom: 31%;
  position: relative;
  width: 6em; }

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10; }

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%; }

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%; }

.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8; }

.hours-container {
  animation: rotate 43200s infinite linear; }

.minutes-container {
  transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44); }

.seconds-container {
  transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44); }

@media (min-width: 992px) {
  .clock-container {
    position: relative;
    left: 28%; } }

@keyframes rotate {
  100% {
    transform: rotateZ(360deg); } }

.landing {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 150px;
  opacity: 0;
  transition-duration: 1s;
  color: white;
  font-family: 'The Girl Next Door', cursive; }

.fade-in {
  opacity: 1; }

.title__container {
  height: 0; }

.title__screen {
  max-width: 100%;
  height: auto; }

.title__chalkboard {
  background: url("./../images/chalkboard.svg") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 61.35%;
  position: relative;
  top: 20px; }

.chalkboard__button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.title__announcementboard {
  background: url("./../images/announcementboard.svg") no-repeat center;
  background-size: contain;
  height: 0;
  width: 100%;
  padding-top: 132.84%;
  position: relative;
  top: 40px; }

.landing__button {
  position: relative;
  top: 67%;
  border: none;
  font-size: 20px;
  background: transparent;
  color: white;
  transition-duration: .2s; }

.landing__button:hover {
  text-decoration: underline; }

@media (min-width: 400px) {
  .landing__button {
    font-size: 26px; } }

@media (min-width: 992px) {
  .title__chalkboard {
    position: relative;
    top: -20px; } }

.about__title {
  font-size: 50px; }

.pencil {
  max-width: 100%; }

.about__title--font {
  font-family: 'Satisfy', cursive; }

.about__title--underline {
  text-decoration: underline solid #FF4D4C; }

.about__paragraph {
  font-size: 16px; }

.about__list {
  list-style: none;
  padding: 0px; }

.about__list > li {
  margin-bottom: 10px; }

.value {
  padding: 40px;
  background-image: url("./../images/postit.svg");
  background-size: contain;
  font-family: 'The Girl Next Door', cursive; }

.philosophy {
  padding: 20px; }

.jobs__intro {
  background-image: url("./../images/team.jpg");
  height: 300px;
  background-size: cover;
  margin: 40px 0px; }

.job__block {
  margin-bottom: 50px; }

.jobs__header {
  margin-top: 120px;
  margin-bottom: 10px;
  font-size: 50px;
  text-align: left;
  color: white; }

.jobs__subheader {
  color: white;
  font-size: 20px;
  text-align: left; }

.jobs__section {
  font-size: 18px;
  text-align: left; }

.jobs__section--spacing {
  margin-top: 40px; }

.jobs__npicon {
  width: 220px; }

.locations__header {
  font-size: 40px; }

.campus {
  margin-bottom: 25px;
  margin-top: 10px;
  color: black; }

.campus:hover {
  color: #3B5998; }

.campus__number {
  font-weight: bold; }

.jobgenre {
  text-align: left; }

.jobgenre__header {
  padding-bottom: 10px;
  border-bottom: lightgrey solid 1px;
  font-weight: bold; }

.job {
  margin-bottom: 20px;
  text-align: left; }

.job__link {
  border: none;
  text-align: left;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  transition-duration: .2s; }

.job__link:hover {
  color: #3683d2; }

.job__title {
  text-align: left;
  margin: 0px; }

.job__location {
  text-align: left;
  margin: 0px; }

.contact__intro {
  padding-bottom: 20px; }

.contact__subheader {
  font-size: 22px; }

.contact__wechat:before {
  content: url("./../images/wechat.svg"); }

.contact__number:before {
  content: url("./../images/telephone.svg"); }

.contact__email:before {
  content: url("./../images/mail-small.svg"); }

#contact__button {
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 0px;
  background-color: #FF4D4C;
  width: 200px;
  height: 50px;
  margin: 20px;
  transition-duration: .2s;
  background-image: none;
  text-shadow: none;
  position: relative;
  overflow: hidden; }

#contact__button:before {
  content: url("./../images/mail.svg");
  position: absolute;
  left: -40px;
  top: 13px;
  transition: all 200ms ease; }

#contact__button:hover:before {
  left: 22px; }

#contact__button:focus:before {
  left: 200px; }

.emailform__element {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: solid 1px black;
  transition-duration: .2s; }

.emailform__element:focus {
  outline: none;
  border: solid 1px #B68DFF; }

.emailform__element--tall {
  height: 150px; }

#nyancat {
  max-width: 100%; }
