body {
  font-family: 'Proxima Nova', Georgia, sans-serif; }

a:hover {
  text-decoration: none; }

.container__page {
  width: 100vw; }

.container {
  margin: 0 auto;
  text-align: center; }

.container--grey {
  background: #eeeeef; }

.container--blue {
  background: #53A1E3;
  color: white; }

.social-media-bar {
  float: right;
  position: relative;
  bottom: 5px;
  right: 10px; }

.social-icon {
  margin-left: 2px;
  transition-duration: 0.2s; }

.social-icon:hover {
  opacity: 0.75; }

.navbar {
  border-radius: 0 !important;
  border: none;
  min-height: 80px;
  background-color: white;
  box-shadow: 0 0 1px #777777;
  margin-bottom: 0px; }

.navbar-header {
  padding-bottom: 12px; }

.navbar-inverse {
  background-image: none; }

.navbar-brand > img {
  max-width: 200px; }

.navbar-nav > li > a {
  font-size: 20px;
  margin-top: 17px;
  color: black; }

.navbar-inverse .navbar-nav > li > a {
  color: black;
  text-shadow: none; }

.navbar-nav > li > a > a {
  color: black;
  transition-duration: 0.2s; }

.navbar-nav > li > a > a:hover,
.navbar-nav > li > a > a:focus {
  text-decoration: none;
  color: #FF4D4C; }

.navbar-toggle {
  margin-top: 25px;
  background-color: black; }

.icon-bar {
  background-color: black; }

.language-menu {
  text-align: center; }

.language-menu__list {
  list-style: none;
  margin-top: 5px;
  padding: 0; }

.language-menu__item {
  float: left;
  font-size: 14px;
  padding-right: 18px;
  color: grey;
  transition-duration: 0.2s; }

.language-menu__item:hover {
  color: black;
  cursor: pointer; }

.language-menu__item > button {
  border: none; }

.landing {
  font-family: Georgia, sans-serif;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  opacity: 0;
  transition-duration: 1s; }

.fade-in {
  opacity: 1; }

.landing--big .landing__title {
  font-size: 50px; }

.landing--big .landing__subtitle {
  font-size: 25px; }

.blurb {
  margin-top: 20px;
  font-size: 22px; }

.blurb__title {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px; }

.blurb__svg {
  width: 75px; }

.services__link:hover {
  animation: bounce 1s; }

.blurb--spacing {
  margin-bottom: 40px; }

.services__link {
  transition-duration: 0.5s; }

.link__button {
  color: white;
  border: none;
  font-size: 18px;
  background-color: #FF4D4C;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  margin-top: 20px;
  transition-duration: .2s;
  background-image: none;
  text-shadow: none; }

.link__button:hover {
  background: transparent;
  color: #FF4D4C;
  box-shadow: inset 0 0 0 3px #FF4D4C; }

.landing__button--spacing {
  margin: 180px 0; }

.blurb__media {
  margin: 0; }

#prepsmith-video {
  width: 100%;
  box-shadow: 0 0 3px #777777; }

.row--spacing {
  padding: 50px 0; }

.carousel {
  box-shadow: 0 0 3px #777777; }

.carousel__team {
  width: 300px;
  margin: 0 auto; }

.carousel__teacher {
  width: 300px; }

.carousel-caption__textbox {
  position: relative;
  top: 40px; }

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  opacity: 0; }

.carousel-control.left:hover,
.carousel-control.right:hover {
  opacity: 1; }

.show-grid {
  text-align: center; }

.textimonials {
  width: 100%; }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }

@media (min-width: 992px) {
  .show-grid {
    text-align: center;
    display: flex;
    align-items: center; }
  .row--spacing {
    padding: 75px 0; }
  .row--top {
    display: block; }
  .landing--big .landing__title {
    font-size: 100px; }
  .landing--big .landing__subtitle {
    font-size: 35px; }
  .carousel__team {
    width: 450px;
    margin: 0 auto; }
  .carousel__teacher {
    width: 450px; } }

.footer {
  padding-bottom: 5px;
  background-color: lightgrey; }

.footer__list {
  list-style-type: none;
  padding-top: 10px;
  padding-left: 0px; }

.footer-bar {
  float: none;
  text-align: center;
  margin-top: 20px; }

.footer__list-item {
  font-size: 14px; }

.footer__list-title {
  font-weight: bold;
  font-size: 18px; }

.form-group {
  margin: 0; }

.form-control {
  margin: 0px;
  border: 1px solid black;
  border-radius: 0px;
  color: black;
  appearance: none; }

.form-control:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

#formControlsTextarea {
  margin-top: 20px; }

#formControlsSelect:hover {
  cursor: pointer; }

.contact-container {
  text-align: center; }

.contact__intro {
  padding-bottom: 20px; }

.contact__header {
  font-size: 60px;
  margin-bottom: 0; }

.contact__subheader {
  font-size: 16px; }

#contact__button {
  margin-bottom: 40px; }

.rc-tabs-nav-wrap {
  text-align: center; }

.rc-tabs-top {
  margin-bottom: 100px;
  border-bottom: none; }

.rc-tabs-top .rc-tabs-tab {
  font-size: 18px; }

.team__intro {
  margin-bottom: 60px; }

.team__header {
  font-size: 60px;
  margin-bottom: 20px; }

.team__subheader {
  font-size: 18px; }

.team__teacher-img {
  margin-bottom: 15px;
  width: 260px;
  box-shadow: 0 0 1px #777777; }

.team__teacher-description-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80px;
  right: 0;
  background: rgba(36, 62, 206, 0.6);
  color: #fff;
  height: 229px;
  width: 275px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s; }

.team__teacher-img:hover .team__teacher-description-layer {
  visibility: visible;
  opacity: 1; }

.team__teacher-description {
  transition: .2s;
  transform: translateY(1em); }

.team__teacher-img:hover .img__teacher-description {
  transform: translateY(0); }

.scholartree__img {
  margin: 40px 0;
  width: 300px; }

.scholartree__body {
  text-align: left;
  margin-bottom: 50px; }

.scholartree__url {
  font-size: 18px;
  font-weight: bold; }

.consulting__body {
  text-align: left;
  margin-bottom: 50px; }

.consulting__logo {
  width: 175px; }

.consulting__url {
  font-size: 18px;
  font-weight: bold; }

.intro {
  padding-bottom: 80px;
  border-bottom: 1px solid lightgrey; }

.intro__title {
  font-size: 60px;
  margin-bottom: 20px; }

.intro__description {
  font-size: 18px; }

.test-container {
  color: white;
  transition-duration: 0.2s;
  margin: 20px 0; }

.test-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #777777; }

.test__title {
  padding: 30px;
  font-weight: bold;
  font-size: 40px; }

.test__title:hover {
  text-decoration: underline; }

.test__description {
  padding: 20px;
  background-color: #dfeef6;
  color: black;
  line-height: 22px;
  font-size: 16px; }
